.row {
    background-color: aquamarine;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.column {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}


.image {
    width: 100%
}

